# PyTorch / Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Core data & storage
data/
datasets/
checkpoints/


*.pdox
*.png
*.jpg
*.jpeg
*.webp
*.gif

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test temp files
test_temp.pdox
